/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(
   p1x: -1.277,
   p1y: -3.546,
   a: -2.141,
   l1: 2.908,
   l2: 0.993,
   l3: 2.15,
   l4: 1.78,
   l5: 0.772,
   g: 4.777,
   stat: c2b1
)
