/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(buf:(-1.277,-3.546,-2.141,0.993),norm:(buf:(2.908,2.15,1.78,0.772,4.777),inv:true))
