/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(v:(5.031,4.001,0.298,1.978),norm:(v:(2.968,3.940,3.974,2.987,3.779),inv:false))
