/* McGarva, J. R. (1994). Rapid search and selection of path generating
   mechanisms from a library. Mechanism and Machine Theory, 29(2), 223–235.
   https://doi.org/10.1016/0094-114X(94)90032-9 */
(
   p1x: 54.6,
   p1y: -35.5,
   a: 1.95,
   l1: 47.5,
   l2: 24.3,
   l3: 48.1,
   l4: 47.0,
   l5: 85.6,
   g: 0.9599310885968813,
   stat: c2b1
)
