/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(buf:(-2.008,-2.996,0.199,10.007),norm:(buf:(7.006,3.001,3.001,20.0,1.501),inv:true))
