/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(
   p1x: -2.008,
   p1y: -2.996,
   a: 0.199,
   l1: 7.006,
   l2: 10.007,
   l3: 3.001,
   l4: 3.001,
   l5: 20.0,
   g: 1.501,
   stat: true
)
