/* Ullah, I., and Kota, S. (December 1, 1997). "Optimal Synthesis of Mechanisms
   for Path Generation Using Fourier Descriptors and Global Search Methods."
   ASME. J. Mech. Des. December 1997; 119(4): 504–510. https://doi.org/10.1115/1.2826396 */
(
   p1x: -11.77,
   p1y: 5.38,
   a: 4.9031534676276705,
   l1: 9.33,
   l2: 1.41,
   l3: 7.39,
   l4: 3.6,
   l5: 13.57,
   g: 0.7452555906015788,
   stat: "c1b1"
)
