/* Wu, J., Ge, Q. J., Gao, F., & Guo, W. Z. (2011). On the extension of a fourier
   descriptor based method for planar four-bar linkage synthesis for generation of
   open and closed paths. Journal of Mechanisms and Robotics, 3(3).
   https://doi.org/10.1115/1.4004227 */
(buf:(10.0022,13.9988,0.1743,5.9969),norm:(buf:(10.8390,7.9621,9.9527,7.0004,0.6867),inv:false))
