/* Wu, J., Ge, Q. J., Gao, F., & Guo, W. Z. (2011). On the extension of a fourier
   descriptor based method for planar four-bar linkage synthesis for generation of
   open and closed paths. Journal of Mechanisms and Robotics, 3(3).
   https://doi.org/10.1115/1.4004227 */
(buf:(198.6,-82.5,2.670353755551324,74.0),norm:(buf:(368.5,230.8,213.6,150.6,5.462880558742252),inv:false))
