/* Wu, J., Ge, Q. J., Gao, F., & Guo, W. Z. (2011). On the extension of a fourier
   descriptor based method for planar four-bar linkage synthesis for generation of
   open and closed paths. Journal of Mechanisms and Robotics, 3(3).
   https://doi.org/10.1115/1.4004227 */
(
   p1x: 198.6,
   p1y: -82.5,
   a: 2.670353755551324,
   l1: 368.5,
   l2: 74.0,
   l3: 230.8,
   l4: 213.6,
   l5: 150.6,
   g: 5.462880558742252,
   stat: c1b1
)
