/* H. Yu, D. Tang, and Z. Wang. Apr. 2007. “Study on a new computer path
   synthesis method of a four-bar linkage.” Mechanism and Machine Theory,
   vol. 42, no. 4, pp. 383–392. */
(
   p1x: -11.55,
   p1y: -20.14,
   a: 2.981022362406315,
   l1: 65.87,
   l2: 17.43,
   l3: 25.46,
   l4: 64.57,
   l5: 23.47,
   g: 2.834414705238791,
   stat: false
)
