/* Bulatović, R. R., Miodragović, G., & Bošković, M. S. (2016).
   Modified Krill Herd (MKH) algorithm and its application in dimensional
   synthesis of a four-bar linkage. Mechanism and Machine Theory, 95, 1–21.
   https://doi.org/10.1016/j.mechmachtheory.2015.08.004 */
(
   p1x: -2.31301,
   p1y: 2.86189,
   a: -0.61763,
   l1: 9.99432,
   l2: 1.93027,
   l3: 4.57242,
   l4: 7.36674,
   l5: 8.0425,
   g: 0.1874,
   stat: c1b1
)
