/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(v:(-2.0,-3.0,0.2,1.0),norm:(v:(3.0,2.0,1.6,0.5,0.3),inv:true))
