/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(
   p1x: 5.0,
   p1y: 4.0,
   a: 0.3,
   l1: 3.0,
   l2: 2.0,
   l3: 4.0,
   l4: 4.0,
   l5: 3.0,
   g: 3.8,
   stat: false
)
