/* Khan, N., I. Ullah, and M. Al-Grafi. (2015). Dimensional synthesis of mechanical
   linkages using artificial neural networks and Fourier descriptors. Mechanical
   Sciences. 6(1): p. 29-34. */
(
   p0x: 0.0,
   p0y: 0.0,
   a: 0.0,
   l1: 3.0,
   l2: 1.0,
   l3: 3.0,
   l4: 2.5,
   l5: 1.0,
   g: 5.0,
   stat: false
)
