/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(buf:(-2.0,-3.0,0.2,10.0),norm:(buf:(7.0,3.0,3.0,20.0,1.5),inv:true))
