/* C.-Y. Hsieh. 2017. “Synthesis of Four-Bar Linkage for Path Generation and Motion
   Generation Using Fourier Descriptor.” Master’s Thesis, Department of Mechanical
   Engineering, National Taiwan University, Taiwan. */
(
   p1x: -2.0,
   p1y: -3.0,
   a: 0.2,
   l1: 7.0,
   l2: 10.0,
   l3: 3.0,
   l4: 3.0,
   l5: 20.0,
   g: 1.5,
   stat: true
)
