/* Wu, J., Ge, Q. J., Gao, F., & Guo, W. Z. (2011). On the extension of a fourier
   descriptor based method for planar four-bar linkage synthesis for generation of
   open and closed paths. Journal of Mechanisms and Robotics, 3(3).
   https://doi.org/10.1115/1.4004227 */
(
   p1x: 10.0,
   p1y: 14.0,
   a: 0.1745,
   l1: 11.0,
   l2: 6.0,
   l3: 8.0,
   l4: 10.0,
   l5: 7.0,
   g: 0.6981,
   stat: false
)
