/* Wu, J., Ge, Q. J., Gao, F., & Guo, W. Z. (2011). On the extension of a fourier
   descriptor based method for planar four-bar linkage synthesis for generation of
   open and closed paths. Journal of Mechanisms and Robotics, 3(3).
   https://doi.org/10.1115/1.4004227 */
(
   p1x: -2.0,
   p1y: -3.0,
   a: 0.2,
   l1: 3.0,
   l2: 1.0,
   l3: 2.0,
   l4: 1.6,
   l5: 0.5,
   g: 0.3,
   stat: "c1b1"
)
